<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{pageTitle|default('Bootstrap, from Twitter')}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {% stylesheets output='bootstrap.css' filter='less'
        '@LazyGuyTwitterBootstrapBundle/Resources/public/less/bootstrap.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    {% stylesheets output='responsive.css' filter='less'
        '@LazyGuyTwitterBootstrapBundle/Resources/public/less/responsive.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
    {% block stylesheets %}
    {% endblock %}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>

{% block content %}
{% endblock %}

<!-- Le javascript
================================================== -->
{% javascripts output='bootstrap.js'
    '@LazyGuyTwitterBootstrapBundle/Resources/public/js/jquery.js'
    '@LazyGuyTwitterBootstrapBundle/Resources/public/js/bootstrap.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}
{% endblock %}

</body>
</html>
